<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/app.css" />
  </head>
  <body>
    <header>Push Notification | Web Push Nasıl Yapılır? | kablosuzkedi</header>
    <div class="app">
      <div class="categories">
        <div class="html5">
          <span>
            <i class="fab fa-html5 fa-2x"></i>
            <span>HTML5</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="js selected">
          <span>
            <i class="fab fa-js fa-2x"></i>
            <span>JavaScript</span>
          </span>
          <button class="success">Takip Et!</button>
        </div>
        <div class="vuejs">
          <span>
            <i class="fab fa-vuejs fa-2x"></i>
            <span>Vue</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="react">
          <span>
            <i class="fab fa-react fa-2x"></i>
            <span>React</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="node">
          <span>
            <i class="fab fa-node fa-2x"></i>
            <span>NodeJS</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="aws">
          <span>
            <i class="fab fa-aws fa-2x"></i>
            <span>AWS</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="sass">
          <span>
            <i class="fab fa-sass fa-2x"></i>
            <span>SASS</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="css">
          <span>
            <i class="fab fa-css3 fa-2x"></i>
            <span>CSS3</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="facebook">
          <span>
            <i class="fab fa-facebook fa-2x"></i>
            <span>Facebook Geliştiricileri</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="twitter">
          <span>
            <i class="fab fa-twitter fa-2x"></i>
            <span>Twitter Geliştiricileri</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="microsoft">
          <span>
            <i class="fab fa-microsoft fa-2x"></i>
            <span>Windows</span>
          </span>
          <button>Takip Et!</button>
        </div>
        <div class="apple">
          <span>
            <i class="fab fa-apple fa-2x"></i>
            <span>macOS</span>
          </span>
          <button>Takip Et!</button>
        </div>
      </div>
    </div>
  </body>
</html>
