* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #fff;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app button {
  padding: 15px 10px;
  background-color: #00a5f2;
  color: #fff;
  font-weight: normal;
  outline: none;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #0082bf;
  cursor: pointer;
}

.app button:hover {
  background-color: #0082bf;
}

.app button:active {
  background-color: #26baff;
}

header {
  height: 65px;
  background-color: #c0161b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  border-bottom: 2px solid #a91318;
  margin-bottom: 40px;
}
